###
## HAXBY_DATABASE_D states the location of your database schemas
##  This folder will contain a folder-per-database, each containing schemas
##
##  Default: $HAXBY_CONF_DIR/databases
##
##  Will be created if it does not exist, but only by "newdb" mode
###
#HAXBY_DATABASE_D=./databases
#HAXBY_DATABASE_D=$HAXBY_CONF_DIR/databases

###
## HAXBY_DATA states the location of your actual postgres data files
##
##  Default: $HAXBY_CONF_DIR/pg
##
## Will be created if it does not exist
###
#HAXBY_DATA=./pg
#HAXBY_DATA=$HAXBY_CONF_DIR/pg

###
## HAXBY_TMP is not currently used
##
##  Default: /tmp/haxby
##
## Will be created if it does not exist
###
#HAXBY_TMP=/tmp/haxby

###
## PGDATA states the path of the postgres data directory
##  Used by postgres binaries
##
##  Default: $HAXBY_DATA/pgdata
##
##  Will be created if it does not exist
###
# PGDATA=$HAXBY_DATA/pgdata

###
## PGLOG states the name of the log file for postgres
##
##  Default: $HAXBY_DATA/pglog
##
##  Will be created if it does not exist
###
# PGLOG=$HAXBY_DATA/pglog

###
## PG_MODULES lists the contrib modules to load
##
## Default: <Empty>
##
## Separate the modules with spaces only
###
#PG_MODULES="uuid-ossp hstore"

# There is almost no reason to change this
# PG_CONTRIB=
